body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(0, 0%, 95%);
}

#calculator{
    font-family: Arial, sans-serif;
    max-width: 500px;
    background-color: rgb(124, 124, 124);
    border-radius: 10px;
    overflow: hidden;
}

#display{
    width: auto;
    padding: 15px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: rgb(211, 211, 211);
    max-width: 500px;
}

#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:10px;
    padding: 10px;
    align-items: center;
}

button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}

button:hover{
    border-width: 5;
    border-color: crimson;
}

button:active{
    border-width: 7;
    border-color: rgb(189, 7, 43);
}